
 #cartwrapper{
	 height:100%;
	 width:100%;
	 background-color:white;
 }
 #mycart{
	 padding-left:30px;
	 display:block;
 }
 .cartprize{
	 margin-top:50px;
	 font-size:140%;
 }
 .wrappercart{
	 height:300px;
	 width:700px;
	 border:1px solid black;
	 border-radius:5px;
	 margin-top:5px;
 }
 #selectitem{
	 margin-left:30px;
	 width:60%;
	 border-radius:5px;
	 display:block;
 }
 .removeitem{
	 margin-top:50px;
	 position:absolute;
 }
 .removebutton{
	 height:50px;
	 width:150px;
	 font-size:130%;
	 background-color:Tomato;
	 color:white;
 }
 .number{
	 width:100px;
	 border:2px solid white;
	 text-align:center;
 }
 .cartname{
	 font-size:180%;
	 margin-top:-15px;
 }
 .cartlist{
	 height:350px;
	 width:300px;
 }
 .cartimage{
	 height:250px;
	 width:200px;
	 margin-left:40px;
 }
 .cartimage2{
	 height:250px;
	 width:350px;
	 margin-left:40px;
 }
 .quantity{
	 font-size:140%;
	 margin-top:30px;
 }
 .cartadjust{
	 margin-left:80px;
	 font-size:150%;
 }
 .adjust{
	 width:30px;
	 background-color:white;
	 font-size:120%;
	 outline:none;
	 border:1px solid black;
 }
 .cartcontent{
	 margin-left:300px;
	 position:absolute;
	 margin-top:-250px;
 }
 .cartcontent2{
	 margin-left:400px;
	 position:absolute;
	 margin-top:-250px;
 }
 #sum{
	 height:600px;
	 width:400px;
	 position:absolute;
	 margin-left:800px;
	 margin-top:-600px;
	 display:block;
 }
 #total{
	 font-size:160%;
	 display:block;
 }
 #totalamount{
	 color:Tomato;
	 display:block;
 }
 #emptycart{
	 margin-left:460px;
	 margin-top:200px;
	 font-size:150%;
	 color:red;
 }
 #homelink{
	 margin-left:120px;
	 margin-top:20px;
 }
 #homebutton{
	 font-size:110%;
	 height:50px;
	 width:150px;
	 background-color:white;
	 border:1.5px solid MediumSeaGreen;
	 border-radius:5px;
 }
 #homebutton:hover{
	 background-color:MediumSeaGreen;
 }